<div class="container" style="padding:1%">
  <div class="row" style="height:150px;overflow:hidden;
 ">
    <div class="col-sm-2" style="background-color:blue ;height: 150px ; padding: 25px 0px 25px 13px;" >
      <img src="{{user.avatar_url}}" alt="..." style="width:100px;border-radius:50%">
      
    </div>
    <div class="col-sm-8" style="height:150px;background-color:red;">
      <h2>{{user.login}}</h2>
      <h4>{{user.url}}</h4>
      <p>{{user.repo1}}</p>
      <p>{{user.repo2}}</p>

    </div>
    <div class="col-sm-2" style="height:150px;background-color:yellow">
      <button type="button" class="btn border2" style="margin-top: 50%;
      width: 100%;">Details</button>
    </div>
  </div>
</div>